<hr>

<!-- Static comments -->
{% if site.data.comments[page.slug] %}
  <p>
    <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h3>
  </p>

  {% assign comments = site.data.comments[page.slug] | sort %}

  <div>
    {% for comment in comments %}
      <legend>
        <strong>{{ comment[1].username }}</strong>
      </legend>
      <em>{{ comment[1].date | date: "%d %b %Y" }}</em>
      {{ comment[1].comment | markdownify }}
      <hr>
    {% endfor %}
  </div>
{% endif %}

<!-- Comment form -->
<div id="comment-form">
    <h3>Leave a Comment</h3>
    <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
        <input name="options[redirect]" type="hidden" value="http://theshorttamperedclavier.github.io{{ page.url }}">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <div>
            <legend>Username (required)</legend>
            <input name="fields[username]" type="text">
        </div>
        <div>
            <legend>Comment (<a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> allowed)</legend>
            <textarea style="width:100%" name="fields[comment]" rows="12"></textarea>
        </div>
        <div>
            <legend><em>Comments will appear after moderation.</em></legend>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
